<!DOCTYPE html>
<html lang="en">
<head>
	<title>Modular CSS with SCSS</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<div class="doc-wrap">

		<div class="page-header">
			<h1 class="page-title">
				Modular CSS with SCSS		
			</h1>
		</div>

		<div class="page-content">
			<p>Insect with dev tools for SCSS to css changes</p>
		</div>

		<div class="page-footer">
			<ul class="page-footer-navigation">
				<li>
					<a href="http://dannyenglander.com/blog/libsass-grunt-do-you-feel-need-for-speed">LibSass, Grunt, and Node NPM: Do You Feel the Need For Speed?</a>
				</li>	
				<li>
					<a href="http://www.zell-weekeat.com/grunt-sass-with-susy/">Configuring Grunt To Use LibSass With Susy</a>
				</li>				
				<li>
					<a href="https://github.com/sindresorhus/grunt-sass">grunt-sass</a>
				</li>
				<li>
					<a href="https://github.com/gruntjs/grunt-contrib-watch">grunt-contrib-watch</a>
				</li>
				<li>
					<a href="https://github.com/gruntjs/grunt-contrib-connect">grunt-contrib-connect</a>
				</li>					
				<li>
					<a href="http://stackoverflow.com/questions/26088529/using-libsass-with-compass">stackoverflow: Using libsass with compass</a>
				</li>
			</ul>
		</div>

	</div>
	
</body>
</html>